<?xml version="1.0" encoding="UTF-8" ?>
<widget id="com.arcadesindo.pindah" version="1.0.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>Pindah Posisi</name>
	<description>beta</description>
	<author href="http://studio.arcadesindo.com" email="arcadesindo@gmail.com">Daniel William</author>

	<icon src="www/icon-256.png" width="256" height="256" density="xxxhdpi" />
	<icon src="www/icon-128.png" width="128" height="128" density="xhdpi" />

	<preference name="android-targetSdkVersion" value="26" />

	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="true" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="AllowInlineMediaPlayback" value="true" />

	<config-file parent="UIStatusBarHidden" platform="ios" target="*-Info.plist"><true/></config-file>
	<config-file parent="UIViewControllerBasedStatusBarAppearance" platform="ios" target="*-Info.plist"><false/></config-file>


	<preference name="deployment-target" value="8.0" />
	<preference name="android-minSdkVersion" value="16" />
	<access origin="*" />

	<plugin name="cordova-custom-config" spec="5.0.2" />
	<plugin name="cordova-plugin-crosswalk-webview" spec="2.4.0" />
	<plugin name="cordova-plugin-file" spec="6.0.1" />
	<plugin name="cordova-plugin-inappbrowser" spec="3.0.0" />
	<plugin name="cordova-plugin-statusbar" spec="2.4.2" />
	<plugin name="cordova-plugin-whitelist" spec="1.3.3" />
	<plugin name="cordova-plugin-wkwebview-engine" spec="1.1.4" />
	<plugin name="cocoon-plugin-canvasplus-common" spec="*" />

	<engine name="ios" />
	<engine name="android" />
</widget>